/* Import from Google Fonts. Raleway as the main font and Oswald for headings */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');

/* Margin, padding and border defauls changed to 0 and none as defaults */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* General Font styling rules */
body {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    color: #3a3a3a;
    background-color: rgb(27, 194, 245);
}

h1, h2, h3 {
    font-family: Oswald, sans-serif;
}